h1{
    color: white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color:black;
}
p{
    color: white;
}
#sobre{
    color: white;
}
#trailer{
    color: white;
}